.container{
    width:990px;
    margin: auto;
    background-color: #cc66cc;
}

.header{
    background-color:#ecf0f1;
    width: 990px;
    height: 100px;
    /* background: url("img/bg-header.jpg") repeat-x; */
   }

.logo{
    float:left;
}
/*sidebar*/
.sidebar{
    width: 235px;
    height: 500px;
    float: left;
    /* background-color: #5D8EF0; */
}
.sidebar dt{
    text-align:center;
    color:whitesmoke;
    background: #e74c3c;
    padding: 20px;
    font-weight:bold;
    margin: 0;
}

#sidebar dl{
	margin:0px;
	padding: 0px;
}

.sidebar dl dd{
    border-bottom:1px solid whitesmoke;
    
}

.sidebar dl dd a{
    color: #F44336;
    font-weight: bold;
    padding: 3px 20px;
    display: block;
    text-decoration: none;
}

.sidebar dl dd a:hover{
    background: #74A7B7;
}

/*Menu sidebar*/
.menu {
    margin: 0px;
    padding: 0px;
  }

.menu {
    margin: 0 0 1px 0;
    list-style: none;
    background-color: #33ccff;
    color: #fff;
    width: 225px;
    height: 30px;
    line-height: 25px;
    padding-left: 10px;
  }


.content{
    background-color: #fff;
    width: 738px; /*đã fix lại content cho phù hợp với 990px của header*/
    min-height: 644px;
    float: left;
    border: 1px solid #6688cc;
    margin: 15px 0 5px 15px;
}

.footer{
    /* background-color: #6633cc; */
    clear:both;
	background:#C80000;
	padding: 8px 0px 10px 0px;/*fix lại footer*/
	text-align:center;
	font-weight:bold;
    color:#FFF;
    width :990px;
    border: 1px solid #c80000;/*thêm thuộc tính mới*/
}

/*Slider*/

.sliderboxHead{
    background-color: #cc6633;
    width: 990px;
    height: 300px;
    overflow: hidden;
}

#sliderbox{
    position: relative;
    width: 3960px; /*đã fix lại slider*/
    animation-name: slideranimation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

#sliderbox img{
    float: left;
}

@keyframes slideranimation{ /*Đã fix lại slider*/
    0%
    {
        left: 0px;
    }
    20%
    {
        left: 0px;
    }
    25%
    {
        left: -990px;
    }
    45%
    {
        left: -990px;
    }
    50%
    {
        left:-1980px;
    }
    70%
    {
        left: -1980px;
    }
    75%
    {
        left: -2970px;
    }
    95%
    {
        left: -2970px;
    }
    /* 100%
    {
        left: -3600px;
    }
    105%
    {
        left: -3600px;
    } */
    
}
/* ------------------BOX------------------- */
.content h2{
    font: bold 30px arial;
    color: #ff0000;
    padding-left: 20px;
    margin-left: 190px; /*Đã fix lại magrin cho 2 dòng chữ sản phẩm bán chạy và mới nhất*/
}

.box{
    margin:5px; 
	float:left;
	width:250px;
    text-align:center;
    padding-right: 60px;/*thuộc tính mới thêm vào */
    padding-left: 30px;/*thuộc tính mới thêm vào */
}

.box:nth-child(even){/* định dạng cho các block chẵn */
	border-top: 5px solid rgb(156, 211, 165);
	margin-right: 15px;
}

.box:nth-child(odd){/* định dạng cho các block lẻ */
	border-top: 5px solid rgb(119, 184, 219);
	margin-left: 15px;
} 

.box img{
	width: 230px;
	height: 150px;
}

.pname{
    font: bold 14px arial;
    color: #F39;
    margin-top: 5px;
}

.pprice{
    font: bold 12px arial;
    color: #f30;
}

.action{
    font: italic bold 10px arial;
    margin-right: 30px;
    margin-bottom: 10px;
    color: #F96;
    text-align: right;
}
